body {
  font-family: arial,sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p a {
  color: rgb(26, 13, 171);
}


header {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 1.5em;
}

header a {
  color: black;
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  opacity: 0.75;

}

#header-left {
  float: left;
  height: 32px;
  position: relative;
}

#header-left a {
  margin-left: 1.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header-right {
  float: right;
  position: relative;
  
  text-align: right;

}

#header-right a {
  margin-right: 1.5em;
}

.btn_account {
  background-image: url(https://avatars1.githubusercontent.com/u/21205582?s=460&v=4);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-size: 32px 32px;
}

.btn_googleapps {
  background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: .55;
  height: 30px;
  width: 30px;
}

.btn_googleapps:hover {
  opacity: 0.85;
}

.content {
  text-align: center;
}

.content img {
  display: block;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 2em;
}

.btn {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #5F6368;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  min-width: 54px;
  height: 36px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #c6c6c6;
  color: #222222;
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

/*
form {

}
*/

.searchbar {
  display: flex;
  width: 482px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
}

.searchbar:hover {
  box-shadow: 0 2px 5px 0px lightgrey;
}

.lens_container {
  padding-right: 13px;
  align-items: center;
  display: flex;
  padding-left: 14px;
}

.lens {
  height: 20px;
  width: 20px;
  color: #9AA0A6;
  fill: currentColor;
}


.textfield {
  display: flex;
  flex: 100%;
}

.textfield input {
  display: flex;
  flex: 100%;
  border: none;
  outline: none;
  color: rgba(0,0,0,.87);
  font: 16px arial, sans-serif;
}

.microphone_container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding: 0 16px 0 8px;
  width: 24px;
  line-height: 44px;
  cursor: pointer;
}

.microphone {
  background: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png') 0 0 no-repeat;
  height: 24px;
  width: 24px;
  background-size: 24px;
  vertical-align: middle;
}

.buttonrow {
  padding-top: 18px;
}

footer {
  display: block;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a {
  color: #5f5f5f;
}

#footer-left {
  float: left;
}

#footer-left a {
  padding-left: 1.5em;
}

#footer-right {
  float: right;
}

#footer-right a {
  padding-right: 1.5em;
}